.movies-card-list {
    padding: 70px 70px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-card-list__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 28px;
}

.movies-card-list__button {
    margin-top: 50px;
    width: 320px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.movies-card-list__button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .movies-card-list {
        padding: 70px 30px;
    }

    .movies-card-list__block {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .movies-card-list {
        padding: 40px 10px 80px;
    }
    
    .movies-card-list__block {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    
    .movies-card-list__button {
        margin-top: 80px;
        width: 240px;
        height: 36px;
    }
}