.profile {
    padding: 74px 0 70px 0;
    margin: auto;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

.profile__form {
    margin-top: 123px;
    width: 100%;
}

.profile__field {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
}

.profile__field:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-top: 17px;
}

.profile__label {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}

.profile__input {
    padding: 0;
    border: none;
    outline: none;
    text-align: right;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.profile__submit-button {
    margin-top: 220px;
    border: none;
    outline: none;
    background: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}

.profile__submit-button:hover {
    opacity: 0.7;
}

.profile__link {
    margin-top: 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #FF4062;
}

.profile__link:hover {
    opacity: 0.7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile {
        box-sizing: border-box;
        width: 100%;
        padding: 70px 30px 40px;
    }
    
    .profile__form {
        margin-top: 80px;
        max-width: 410px;
    }

    .profile__input {
        width: 80%;
    }
    
    .profile__submit-button {
        margin-top: 379px;
        width: 100%;
        max-width: 410px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
        cursor: pointer;
    }
    
    .profile__link {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
}