.portfolio {
    padding: 0 70px 125px;
}

.portfolio__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #A0A0A0;
    margin-bottom: 50px;
}

.portfolio__list {
    padding-left: 0;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding-bottom: 19px;
    margin-bottom: 20px;
    border-bottom: 1px #E8E8E8 solid;
}

.portfolio__item:last-of-type {
    margin-bottom: 0;
}

.portfolio__link {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-decoration: none;
    list-style-type: none;
    color: #000000;
}

.portfolio__button {
    width: 29px;
    height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .portfolio {
        padding: 0 50px 90px;
    }
    
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__button {
        width: 27px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .portfolio {
        padding: 0 14px 70px;
    }
    
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }
    
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__button {
        width: 18px;
    }
}