.navigation {
    display: flex;

    width: 100%;
}

.navigation__main-links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.navigation__main-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
}

.navigation__main-link:hover {
    opacity: 0.7;
}

.navigation__main-link_black {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFFFFF;
    width: 76px;
    background: #000000;
    text-align: center;
    border-radius: 3px;
}

.navigation__main-link_black:hover {
    opacity: 0.8;
}

.navigation__movies-links {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
}

.navigation__movies-link {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
}

.navigation__movies-link:hover {
    opacity: 0.7;
}

.navigation__profile-links {
    display: flex;
    align-items: center;
    gap: 17px;
}

.navigation__profile-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
}

.navigation__profile-link:hover {
    opacity: 0.7;
}

.navigation__profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F9F9;
    width: 26px;
    height: 30px;
    border-radius: 4px;
}

.navigation__profile-icon:hover {
    opacity: 0.8;
}

.navigation__burger-button {
    display: none;
    border: none;
    background-color: white;
    margin: 0;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navigation__movies-links {
        display: none;
    }

    .navigation__profile-links {
        display: none;
    }

    .navigation__burger-button {
        display: block;
    }
}