.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 0 70px;
}

.header__logo {
    margin-right: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        padding: 0px 30px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        padding: 0 14px;
    }
}
