.footer {
    margin: 0;
    padding: 79px 70px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer__text {
    margin: 0;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    border-bottom: 1px #E8E8E8 solid;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.footer__link {
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
}

.footer__link:last-of-type {
    margin-right: 0;
}

.footer__link:active {
    text-decoration: none;
    color: #000000;
}