.footer {
    margin: 0;
    padding: 79px 70px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer__text {
    margin: 0;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    border-bottom: 1px #E8E8E8 solid;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__link {
    text-decoration: none;
    color: #000000;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer {
        padding: 79px 30px 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        padding: 79px 10px 20px;
    }
    
    .footer__text {
        padding-bottom: 21px;
        font-size: 12px;
        line-height: 15px;
    }
    
    .footer__block {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }

    .footer__year {
        color: #A0A0A0;
    }

    .footer__links {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}