.about-me {
    padding: 110px 70px 100px;
}

.about-me__title {
    padding-bottom: 23px;
    border-bottom: 1px solid black;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
}

.about-me__description {
    margin-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 270px;
}

.about-me__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me__block-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.about-me__block-subtitle {
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.about-me__block-text {
    font-size: 14px;
    line-height: 22px;
}

.about-me__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: none;
    color: #000000;
}

.about-me__photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {                                 
    .about-me {
        padding: 90px 50px;
    }

    .about-me__description {
        gap: 49px;
    }

    .about-me__block-title {
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;      
    }
    
    .about-me__block-subtitle {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 18px;
    }
    
    .about-me__block-text {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .about-me {
        padding: 70px 14px;
    }
    
    .about-me__title {
        padding-bottom: 28px;
        border-bottom: 1px solid black;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
    
    .about-me__description {
        margin-top: 60px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    
    .about-me__text {
        gap: 40px;
    }
    
    .about-me__block-title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
    }
    
    .about-me__block-subtitle {
        margin-bottom: 20px;
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
    }
    
    .about-me__block-text {
        font-size: 11px;
        line-height: 16px;
    }
    
    .about-me__photo {
        width: 292px;
        height: 352px;
    }
}