.not-found-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 246px;
    padding-bottom: 60px;
  }
  
  .not-found-page__title {
    margin: 0;
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
    text-align: center;
  }
  
  .not-found-page__text {
    margin: 5px auto 184px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
  }
  
  .not-found-page__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }
